.navitems{
    display: inline-block;
    /* border:1px solid red; */
    padding: 0 3px 8px 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    background-color: rgb(5, 5, 53);
    font-size: 15px;
}
.logo{
    margin-right: 48%;
}
.navbar{
    background-color: rgb(12, 2, 37);
}
.navLogoIcons{
    font-size: 28px;          
}
.navIcons{
    font-size: 21px;
}
.travelImages{
    margin-top: 5px;;
}
.travelSample{
    height: 140px;
    width:16.39%;
    border-radius: 5%;
}
a{
    text-decoration: none;
    color: white;
}
.aboutSection{
    /* border:1px solid red; */
    padding: 30px;
    margin:20px 150px 5px 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutSubSection{
    border:3px solid gray;
    padding: 10px;
    border-radius: 5%;
    margin-bottom: 8px;
}
.marginabout{
    margin-bottom: 5px;
}
.missionli{
    color:purple
}
.valueli{
    color: rgb(6, 24, 6);
}
.fontIcons{
    color: purple;
    font-size: 23px;
    border: 1px solid red;
    padding: 3px;
    margin:1px
}

.aboutContainer{
    background-image: url('../assets/travelimage7.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}
